*.aux
*.log
*.blg
*.bbl
*.out
*.ptc
*.toc
*.gz
*.html
*.css
*.~lock*
Puzzles.pdf
1 - Logic/IslanderProblems/TwelveIslandersTwoOdds.csv
1 - Logic/IslanderProblems/Solution.csv
1 - Logic/IslanderProblems/StateHistory.csv
3 - Probability/TheCupboardGame/*.ods
